#display-image{
  border: 1px solid black;
  background-position: center;
  background-size: cover;
  cursor: crosshair;
}

.rounded{
  width: 8px;
  height: 8px;
  position: relative;
  bottom: 6px;
  right: 6px;
  border: 1px solid black;
  border-radius: 50%;
}
