#display-image{
  border: 1px solid black;
  background-position: center;
  background-size: cover;
}

#display-stroke{
  border: 2px solid red;
  background-position: center;
  background-size: cover;
}

canvas {
 cursor: none;
 image-rendering: optimizeSpeed;
 image-rendering: -moz-crisp-edges;
 image-rendering: -webkit-optimize-contrast;
 image-rendering: optimize-contrast;
 interpolation-mode: nearest-neighbor;
}

.hdir{  

}


.cursor {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: black;
  opacity: .3;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

